* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.top-header {
  background-color: rgb(92, 25, 216);
  color: #ffff;
  display: flex;
  justify-content: space-between;
  padding: 10px;

  /* position: fixed;
  z-index: 1; */
  
}

.image-container {
  background-image: url(./jordan.jpg);
  object-fit: fill;
  background-position: center;
  object-fit: contain;
  background-color: #000;
  height: 150vh;
  position: relative;
}

/* .container-top {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 0.7;
  background-color: aquamarine;
 */

.image-container h2 {
  justify-content: flex-start;
  font-weight: 600;
  padding: 30px 20px;
  color: #ffff;
}

.container-body {
  /* background-color: red; */
  margin: 60px;
  padding: 150px;
  color: #ffff;
  display: grid;
  place-items: center;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
  padding: 0px 50px;

  /* position: absolute;
  bottom: 0; */

  /* background-color: rgb(4, 0, 255); */
}

.container-footer span {
  color: #00ff4c;
  font-weight: 800;
}

.button {
  border: none;
  background-color: transparent;
  padding: 12px;
  border-radius: 10px;
  color: #ffff;
  font-weight: 500;
}

.btn2 {
  background-color: #1bfe8f;
  color: #000;
}
.btn1 {
  border: 1px solid #ffff;
}

/* fo whyus */

.whyus {
  margin: 20px;
  padding: 40px;
  font-size: 20px;
  font-weight: 500;
  display: grid;
  grid-template-columns: 2fr 2fr;
  /* background-color: #1bfe8f; */
}

.image-wrapper {
  background-image: url(./bg.jpg);
  color: #ffff;
  height: 200px;
  margin: 30px 30px;
  padding: 30px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 30px;
}

.course-details {
  margin: 20px;
  padding: 40px;
  display: grid;
  border: 2px solid #000;
  grid-template-columns: 4fr 6fr;
  font-size: 16px;
  font-weight: 500;
}

.course-content {
  margin: 20px;
  padding: 80px;
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.course-content span {
  font-weight: 600;
  padding: 15px;
  border-top: 1px solid #aba9a9;

  display: flex;
  justify-content: space-between;
}

.cinema {
  margin: 20px;
  padding: 100px;
  height: 60px;
  border: 1px solid #696868;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 50%;
  /* background-color: red; */
}

/* .cinema img{
  display:inline;
 
} */

/* .cinema-content{
  padding: 100px;
  display: inline;
} */
.cinema-footer button {
  border: none;
  background-color: transparent;
  padding: 12px ;
  border-radius: 10px;
  color: #ffff;
  font-weight: 500;
  margin: 10px 20px;
  background-color: #1bfe8f;
  color: #000;
}


.about-us{
  margin: 40px;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.stats { 
  display: flex;

  align-items: center;
}




.footer{
  background-color: #000;
  color: #ffff;
  height: 300px;
  padding: 50px; 
overflow: hidden;
  position: relative;
}

.image{
  position: sticky;
  right: 1;
  background-color: #00ff4c;
  padding: 100px;

width: auto;
/* height: 90%;  */
object-fit: cover;

float: right;
/* display: flex;
justify-content: space-between;
gap: 30px; */
z-index: 1;
}